<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Document</title>
</head>
<body>
    <div class="columns">
        <div class="column is-4 is-offset-4">
            <div class="box mt-4 is-flex is-justify-content-space-between">
                <form action="" method="post" class="is-flex is-flex-grow-1 is-flex-direction-column">
                    <textarea class="textarea has-fixed-size" type="text" name="text" placeholder="Empty message">{{#message}}{{text}}{{/message}}</textarea>
                    <button class="button is-black mt-2" type="submit">Save</button>
                </form>
                <form action="/messages/delete/{{#message}}{{id}}{{/message}}" method="get" class="is-flex is-flex-direction-column is-align-items-center ml-2">
                    <button class="delete is-large mt-2" type="submit">Delete</button>
                </form>
            </div>
            <div class="is-flex">
                <a href="/" class="button is-small is-text">Home</a>
                <a href="/messages" class="button is-small is-text ml-2">Back to all messages</a>
                <a href="/messages/new" class="button is-small is-text ml-2">New message</a>
            </div>
        </div>
    </div>
</body>
</html>