<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Document</title>
</head>
<body>
    <div class="columns">
        <div class="column is-4 is-offset-4">
            {{#messages}}
            <div class="box mt-4 is-flex is-justify-content-space-between is-align-items-center">
                <div class="title">{{text}}</div>
                <div class="box is-shadowless">
                    <a href="/messages/edit/{{id}}" class="button is-black">Edit</a>
                </div>
            </div>
            {{/messages}}
            <div class="is-flex">
                <a href="/" class="button is-small is-text">Home</a>
                <a href="/messages/new" class="button is-small is-text ml-2">New message</a>
            </div>
        </div>
    </div>
</body>
</html>